<h2>Add a medication</h2>
<form action="/meds" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Number of Pills: <input type="text" name="num_pills"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
