<p> Welcome, <%= current_user.username %>
<h2> Medications </h2>

<% @meds.each do |med| %>
  <div>
    <%= med.name %> Price: $<%= med.price %> Number of Pills: <%= med.num_pills %>
  </div>
<% end %>
