<h2>Welcome to Medication Watcher!</h2>
<p>Please signin or signup below:</p>

<nav>
  <% if logged_in? %>

    <a href="/meds/new"> Create Medication </a>
    
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>
