<% if logged_in? %>
    <p>Welcome back, <%=current_user.username %></p>

  <div class="navbar">
    <a href="/meds">Home </a>

    <a href="/meds/new"> Create Medication </a>

    <a href="/logout"> Log Out </a>
  </div>

  <% else %>
  <h2>Welcome to Medication Watcher!</h2>
  <p>Please login or sign up below:</p>
  <div class="navbar">
    <a href="/login"> Login </a>
    <a href="/signup"> Sign Up</a>
  </div>
  <%end %>
